<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/client/css/index.css">
  </head>
  <body>

    <div class="d-flex" id="wrapper">

      <!-- Sidebar -->
      <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">JMA</div>
        <div class="list-group list-group-flush">
          <a href="#" class="list-group-item list-group-item-action bg-light side-bold" id="home">Homepage</a>
          <a href="#" class="list-group-item list-group-item-action bg-light" id="ex1">Chords: Major 7th</a>
          <a href="#" class="list-group-item list-group-item-action bg-light" id="ex2">Chords:Dominant 7th</a>
          <a href="#" class="list-group-item list-group-item-action bg-light" id="ex3">Chords: Minor 7th</a>
        </div>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">

      <!--  <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button> -->

        <div class="container-fluid">

          <div id="home-wrapper">
            <div class="alert alert-secondary fade" role="alert" id="connectAlert">
              <strong>Success!</strong> You just showed an alert.
            </div>
            <h1 class="mt-4 text-center" id="head">Jazz MIDI Application</h1>
            <div class="highlight">
              <p>JMA is a learning application centered around Jazz theory. Using your <code>MIDI keyboard</code>, you can go through any exercise as much as you need to learn and reinforce the essentials.
                  Each exercise tracks <strong>accuracy</strong> and <strong>speed</strong> to provide feedback, and the list of current exercises include:</p>
              <div class="text-center">
                  <p><var> - Chords (Major/Minor/Dominant 7th, triads)</var></p>
                  <p><var> - Scales (Major scales, Blues scales)</var></p>
                  <p><var> - Custom chord section</var></p>
              </div>
              <p>To begin, check your <code>MIDI device</code> by clicking the button below. Once you've tested your ability to connect, you are free to start any exercise.</p>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-outline-success" id="connect">Connect</button>
            </div>
        </div>

      </div>

      </div>
      <!-- /#page-content-wrapper -->


    </div>
    <!-- /#wrapper -->


    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/client/js/index.js"></script>
    <script type="text/javascript" src="/client/js/connect.js"></script>
    <script type="text/javascript" src="/client/js/chords.js"></script>

  </body>
</html>
